@{
    ViewData["Title"] = "About";
}
<h2 style="background-color:indianred"><strong>@ViewData["Title"]</strong></h2>
<h3 style="text-align:center;"><em>@ViewData["Reception"]</em></h3>

<br/>
<hr />
<p>I'm @ViewData["Nome"].</p>
<p>For any question or doubts, please send me an message.</p>
<address>
    <strong>Social medias:</strong>
    <a href="https://www.linkedin.com/in/mariana-antunes-2a5107191/">My profile on LinkedIn</a>
</address>
<hr />
